@import "../node_modules/bootstrap/scss/bootstrap.scss";

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 4%;
}

.button_home {
    margin-bottom: 20px;
}